<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='文章管理',active='article'">
  <header th:replace="admin/header::headerFragment(${title},${active})"></header>
  <body class="fixed-left">
    <div id="wrapper">
      <div th:replace="admin/header::header-body"></div>
      <div class="content-page">
        <div class="content">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h4 class="page-title">文章管理</h4>
              </div>
              <div class="col-md-12">
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th width="35%">文章标题</th>
                      <th width="15%">发布时间</th>
                      <th>浏览量</th>
                      <th>所属分类</th>
                      <th width="8%">发布状态</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    <th:block th:each="post : ${articles.list}">
                      <tr th:cid="${post.cid}">
                        <td>
                          <a th:href="@{'/admin/article/'+${post.cid}}" th:text="${post.title}"></a>
                        </td>
                        <td><th:block th:text="${commons.fmtdate(post.created, 'yyyy-MM-dd HH:mm:ss')}"/></td>
                        <td><th:block th:text="${post.hits}"/></td>
                        <td><th:block th:text="${post.categories}"/></td>
                        <td>
                          <th:block th:if="${post.status == 'publish'}">
                            <span class="label label-success">已发布</span>
                          </th:block>
                          <th:block th:if="${post.status == 'draft'}">
                            <span class="label label-default">草稿</span>
                          </th:block>
                        </td>
                        <td>
                          <a th:href="@{'/admin/article/'+${post.cid}}"
                             class="btn btn-primary btn-sm waves-effect waves-light m-b-5"><i
                                  class="fa fa-edit"></i> <span>编辑</span></a>
                          <a href="javascript:void(0)" th:onclick="'delPost('+${post.cid}+');'"
                             class="btn btn-danger btn-sm waves-effect waves-light m-b-5"><i
                                  class="fa fa-trash-o"></i> <span>删除</span></a>
                          <a class="btn btn-warning btn-sm waves-effect waves-light m-b-5" th:href="${commons.permalink(post)}+'/preview'"
                             target="_blank"><i
                                  class="fa fa-rocket"></i> <span>预览</span></a>
                        </td>
                      </tr>
                    </th:block>

                  </tbody>
                </table>
                <div th:replace="comm/macros :: pageAdminNav(${articles})"></div>
              </div>
            </div>
            <div th:replace="admin/footer :: footer-content"></div>
          </div>
        </div>
      </div>
    </div>
    <div th:replace="admin/footer :: footer"></div>
    <script type="text/javascript">
      /*<![CDATA[*/
      var tale = new $.tale();
      function delPost(cid) {
        tale.alertConfirm({
          title:'确定删除该文章吗?',
          then: function () {
            tale.post({
              url : '/admin/article/delete',
              data: {cid: cid},
              success: function (result) {
                if(result && result.success){
                  tale.alertOkAndReload('文章删除成功');
                } else {
                  tale.alertError(result.msg || '文章删除失败');
                }
              }
            });
          }
        });
      }
      /*]]>*/
    </script>
  </body>
</html>