<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="themes/default/header::header(title='文章归档',keywords=null)"></div>
  <body>
    <div class="main-content archive-page clearfix">
      <div class="categorys-item">
        <th:block th:each="archive : ${archives}">
          <div class="categorys-title" th:text="${archive.date}"></div>
          <div class="post-lists">
            <div class="post-lists-body">
              <th:block th:each="article : ${archive.articles}">
                <div class="post-list-item">
                  <div class="post-list-item-container">
                    <div class="item-label">
                      <div class="item-title">
                        <a th:href="${commons.permalink(article.cid, article.slug)}" th:text="${article.title}"></a>
                      </div>
                      <div class="item-meta clearfix">
                        <div class="item-meta-date">发布于 <th:block th:text="${commons.fmtdate(article.created)}"/></div>
                      </div>
                    </div>
                  </div>
                </div>
              </th:block>
            </div>
          </div>
        </th:block>
      </div>
    </div>
  </body>
  <div th:replace="themes/default/footer::footer"></div>
</html>