<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="themes/default/header::header(null,null)"></div>
  <body>
    <div class="main-content index-page clearfix">
      <div class="post-lists">
        <div class="post-lists-body">
          <div class="post-list-item" th:each="article: ${articles.list}">
            <div class="post-list-item-container">
              <a th:href="${commons.permalink(article)}" class="item-thumb  bg-deepgrey"
                 th:style="'background-image:url('+@{${commons.show_thumb(article)}}+');'">
                <dir class="item-desc" th:text="${article.tags}"></dir>
              </a>
              <div class="item-slant reverse-slant &lt; bg-deepgrey"></div>
              <div class="item-slant"></div>
              <div class="item-label">
                <div class="item-title"><a th:href="${commons.permalink(article)}"
                                           th:text="${article.title}"></a>
                </div>
                <div class="item-meta clearfix">
                  <div th:class="'item-meta-ico '+ ${commons.show_icon(article.cid)}"
                       th:style="'background: url('+@{/user/img/bg-ico.png}+');no-repeat;background-size: 40px auto;' "></div>
                  <div class="item-meta-cat" th:utext="${commons.show_categories(article.categories)}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lists-navigator clearfix">
        <div th:replace="comm/macros::pageNav(${articles},'←','→','page')"></div>
      </div>
    </div>
  </body>
  <div th:replace="themes/default/footer::footer"></div>
</html>
