<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="themes/default/header::header(${keyword},null)"></div>
  <body>
    <div class="main-content common-page clearfix">
      <div class="categorys-item">
        <div class="common-title">
          <th:block th:text="${type}"/> : <th:block th:text="${keyword}"/>
        </div>
        <th:block th:if="${commons.is_empty(articles)}">
          <div>
            <p>抱歉，还没有相关文章.</p>
          </div>
        </th:block>
        <th:block th:unless="${commons.is_empty(articles)}">
          <div class="post-lists">
            <div class="post-lists-body">
              <th:block th:each="article : ${articles.list}">
                <div class="post-list-item">
                  <div class="post-list-item-container ">
                    <div class="item-label ">
                      <div class="item-title">
                        <a th:href="${commons.permalink(article)}" th:text="${article.title}"></a>
                      </div>
                      <div class="item-meta clearfix">
                        <div th:class="'item-meta-ico '+${commons.show_icon(article.cid)} "
                             th:style="'background: url('+@{/user/img/bg-ico.png}+') no-repeat;background-size: 40px auto;'"></div>
                        <div class="item-meta-date">发布于 <th:block th:text="${commons.fmtdate(article.created)}"/></div>
                      </div>
                    </div>
                  </div>
                </div>
              </th:block>
            </div>
          </div>
        </th:block>

      </div>
    </div>
  </body>
  <div th:replace="themes/default/footer::footer"></div>
</html>