<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>404（找不到页面）- new_Blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <link rel="shortcut icon" th:href="@{/admin/images/favicon.png}"/>
        <link th:href="@{//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/admin/css/style.min.css}" rel="stylesheet" type="text/css"/>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"/>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"/>
        <![endif]-->
    </head>
    <body>

        <div class="wrapper-page">
            <div class="ex-page-content text-center">
                <h1>404!</h1>
                <h2>很抱歉，没有找到这个页面！</h2>
                <br></br>
                <a class="btn btn-purple waves-effect waves-light" href="/"><i class="fa fa-angle-left"></i> 返回首页</a>
            </div>
        </div>

    </body>
</html>